<main>
  <div class="p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal">Your logs</h1>
    <p class="fs-5 text-muted">List of logs</p>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>File</th>
          <th>Success</th>
          <th>Fail</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>test_file.csv</td>
          <td>10,000</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
