<form action="/import" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label class="form-label" for="contact-files-import">Select file to import:</label>
    <input id="contact-files-import" name="file" class="form-control form-control-lg" type="file">
  </div>
  <button class="btn btn-primary" type="submit">Import</button>
</form>
