<h1>Sign up</h1>
<form id="login" action="/login"></form>
<form action="/register" method="post">
  <section>
    <label for="username">Username</label>
    <input id="username" name="username" type="text" autocomplete="username" required autofocus />
  </section>
  <section>
    <label for="current-password">Password</label>
    <input id="current-password" name="password" type="password" autocomplete="current-password" required />
  </section>
  <button type="submit">Sign up</button>
  <button type="submit" form="login">Sign in</button>
</form>