<div class="auth text-center">
  <main class="form-auth w-100 m-auto">
    <form data-bitwarden-watching="1" action="register" method="post">
      <h1 class="h3 mb-3 fw-normal">Sign up</h1>
      <div class="form-floating">
        <input type="text" id="floatingInput" name="username" class="form-control" placeholder="koombea" required />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" id="floatingPassword" name="password" class="form-control" placeholder="Password" required />
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
      <p></p><a href="/login">Have an account already?</a></p>
    </form>
  </main>
</div>